<main data-bs-theme="dark"> 
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
                <div class="col">
                <%if (message === 'ok') {%>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <button onclick="cargarContenidoGeneral('/principal?id_cliente=<%= datos.id_cliente %>&id_token=<%= id_token %>');">
                                <span class="ml-2"><<-- Volver</span>
                            </button>
                        </div>
                    </div>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <button class="py-2 px-4 lg:px-6 lg:py-2 rounded-lg">Todas</button>
                            <button class="py-2 px-4 lg:px-6 lg:py-2 rounded-lg">Cargas</button>
                            <button class="py-2 px-4 lg:px-6 lg:py-2 rounded-lg">Retiros</button>
                        </div>
                    </div>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <button class="py-2 px-4 lg:px-6 lg:py-2 rounded-lg ">Todas</button>
                            <button class="py-2 px-4 lg:px-6 lg:py-2 rounded-lg ">Pendientes</button>
                            <button class="py-2 px-4 lg:px-6 lg:py-2 rounded-lg ">Aceptadas</button>
                            <button class="py-2 px-4 lg:px-6 lg:py-2 rounded-lg ">Rechazadas</button>             
                        </div>
                    </div>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div id="chat-messages">
                            <table class="mt-4 w-full">
                                <thead class="hidden xl:block">
                                    <tr class="flex text-left text-md font-bold rounded-lg mb-2 p-4 items-center relative">
                                        <th class="flex w-[90px]">Operación</th>
                                        <th class="w-[140px] flex">Fecha y Hora</th>
                                        <th class="w-[110px] flex">Importe</th>
                                        <th class="w-[80px]">Tipo</th>
                                        <th class="w-[200px]">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% datos2.forEach(function(dato2) { %>
                                        <tr class="flex flex-col xl:flex-row text-sm xl:font-medium mb-2 rounded-lg px-3 py-2 items-center">
                                            <td class="mb-2 xl:mb-0 xl:w-[90px]"><%= dato2.codigo_operacion %></td>
                                            <td class="mb-2 xl:mb-0 xl:w-[140px]"><%= dato2.fecha_hora_operacion %></td>
                                            <% if (dato2.id_accion == 1) { %>
                                                <td class="mb-2 xl:mb-0 xl:w-[110px]">$&nbsp;<%= dato2.carga_importe %>
                                                <% if (dato2.carga_bono > 0) { %>
                                                    &nbsp;(Bono: $&nbsp;<%= dato2.carga_bono %>)
                                                <% } %></td>
                                            <% } else if (dato2.id_accion == 2) { %>
                                                <td class="mb-2 xl:mb-0 xl:w-[110px]">$&nbsp;<%= dato2.retiro_importe %></td>
                                            <% } else { %>
                                                <td class="mb-2 xl:mb-0 xl:w-[110px]"> - </td>
                                            <% } %>
                                            <td class="mb-2 xl:mb-0 xl:w-[80px]"><%= dato2.accion %></td>
                                            <% if (dato2.id_estado == 1) { %>
                                                <td class="mb-2 xl:mb-0 xl:w-[200px] flex">
                                                    <div class="bg-custom-yellow rounded-lg text-custom-dark-violet-2 w-[100px] text-center font-bold py-2 text-sm"><%= dato2.estado %></div>
                                                </td>
                                            <% } else if (dato2.id_estado == 2) { %>
                                                <td class="mb-2 xl:mb-0 xl:w-[200px] flex">
                                                    <div class="bg-custom-green rounded-lg text-custom-dark-violet-2 w-[100px] text-center font-bold py-2 text-sm"><%= dato2.estado %></div>
                                                </td>
                                            <% } else if (dato2.id_estado == 3) { %>
                                                <td class="mb-2 xl:mb-0 xl:w-[200px] flex">
                                                    <div class="bg-custom-red rounded-lg text-custom-dark-violet-2 w-[100px] text-center font-bold py-2 text-sm"><%= dato2.estado %></div>
                                                </td>
                                            <% } else { %>
                                                <td class="mb-2 xl:mb-0 xl:w-[200px] flex"> <%= dato2.estado %> </td>
                                            <% } %>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                            </div>      
                        </div>
                    </div>
                <%} else {%>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text"><%= message %> </p>
                            <button onclick="cerrar_Sesion_Token_Invalido()">
                                <span class="ml-2"><<-- Volver al Inicio</span>
                            </button>
                        </div>
                    </div>
                <%}  %>
                </div>
            </div>
        </div>
    </div>
</main>