<main data-bs-theme="dark"> 
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
                <div class="col">
                <%if (message === 'ok') {%>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <button onclick="cargarContenidoGeneral('/principal?id_cliente=<%= datos.id_cliente %>&id_token=<%= id_token %>');">
                                <span class="ml-2"><<-- Volver</span>
                            </button>
                        </div>
                    </div>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="font-bold text-xs md:text-sm" for="contra1">Nueva contraseña:</label>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <input id="contra1" type="password">
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="font-bold text-xs md:text-sm" for="contra2">Repetir contraseña:</label>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <input id="contra2" type="password">
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <span id="msgUsuario" class="ml-2"></span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <button onclick="cambiarContraseña(<%=datos.id_cliente%>, '<%=id_token%>');">
                                    <span class="ml-2">Enviar Solicitud</span>
                                </button>
                            </div>
                        </div>
                    </div>
                <%} else {%>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text"><%= message %> </p>
                            <button onclick="cerrar_Sesion_Token_Invalido()">
                                <span class="ml-2"><<-- Volver al Inicio</span>
                            </button>
                        </div>
                    </div>
                <%}  %>
                </div>
            </div>
        </div>
    </div>
</main>