<main data-bs-theme="dark"> 
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                <%if (message === 'ok') {%>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <button onclick="cargarContenidoGeneral('/principal?id_cliente=<%= datos.id_cliente %>&id_token=<%= id_token %>');">
                                <span class="ml-2"><<-- Volver</span>
                            </button>
                        </div>
                    </div>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text">IMPORTANTE:</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-lg md:text-xl font-bold">El mínimo de Carga es de $ <%= datos.minimo_carga %></span>
                            </div>
                            <%if (cantidad_cargas > 0 && datos.bono_carga_perpetua > 0) {%>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="text-lg md:text-xl font-bold">Recibirás un bono del <%= datos.bono_carga_perpetua %> % </span>
                                </div>
                            <%} else if (cantidad_cargas == 0 && datos.bono_carga_1 > 0) {%>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="text-lg md:text-xl font-bold">Recibirás un bono del <%= datos.bono_carga_1 %> % </span>
                                </div>
                            <%} %>
                            <p class="mt-2 text-xs md:text-sm leading-5">Para realizar la carga de fichas realizar una transferencia a la siguiente Cuenta:</p>
                            <p class="font-bold">*************************************</p>
                            <div class="my-2 flex items-center justify-center">
                                <!--button class="mr-2" title="Copiar CBU">
                                    <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.80053 3.95364L1.8 15.5002C1.8 17.8861 3.65676 19.8383 6.00412 19.9906L6.3 20.0002L14.2459 20.0015C13.8749 21.0495 12.8751 21.8002 11.7 21.8002H5.4C2.41766 21.8002 0 19.3825 0 16.4002V6.5002C0 5.3244 0.751578 4.32415 1.80053 3.95364ZM15.3 0.200195C16.7912 0.200195 18 1.40903 18 2.9002V15.5002C18 16.9914 16.7912 18.2002 15.3 18.2002H6.3C4.80883 18.2002 3.6 16.9914 3.6 15.5002V2.9002C3.6 1.40903 4.80883 0.200195 6.3 0.200195H15.3ZM15.3 2.0002H6.3C5.80294 2.0002 5.4 2.40314 5.4 2.9002V15.5002C5.4 15.9973 5.80294 16.4002 6.3 16.4002H15.3C15.7971 16.4002 16.2 15.9973 16.2 15.5002V2.9002C16.2 2.40314 15.7971 2.0002 15.3 2.0002Z" fill="#FFD200">
                                        </path>
                                    </svg>
                                </button-->
                                <p class="mt-2 text-xs md:text-sm leading-5">CBU</p>
                            </div>
                            <div class="my-2 flex items-center justify-center">
                                <span class="text-lg md:text-xl font-bold"><%= datos2.cbu %></span>
                            </div>
                            <div class="my-2 flex items-center justify-center">
                                <p class="mt-2 text-xs md:text-sm leading-5">Alias</p>
                            </div>
                            <div class="my-2 flex items-center justify-center">
                                <span class="text-lg md:text-xl font-bold"><%= datos2.alias %></span>
                            </div>
                            <div class="my-2 flex items-center justify-center">
                                <p class="mt-2 text-xs md:text-sm leading-5">Nombre</p>
                            </div>
                            <div class="my-2 flex items-center justify-center">
                                <span class="text-lg md:text-xl font-bold"><%= datos2.nombre %></span>
                            </div>
                            <p class="font-bold">*************************************</p>
                            <p class="leading-5 text-xs md:text-sm">Luego, informar el importe transferido a continuación, y el titular de la cuenta.</p>
                        </div>
                    </div>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="font-bold text-xs md:text-sm" for="importe">IMPORTE:</label>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <input id="importe" type="text" placeholder="10000">
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="font-bold text-xs md:text-sm" for="titular">TITULAR:</label>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <input id="titular" type="text" placeholder="Titular">
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <span id="msgUsuario" class="ml-2"></span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <button onclick="cargarFichas(<%=datos.id_cliente%>, '<%=id_token%>', <%=datos2.id_cuenta_bancaria%>, <%=datos.minimo_carga%>, <%=datos.bono_carga_1%>, <%=datos.bono_carga_perpetua%>, <%=cantidad_cargas%>);">
                                    <span class="ml-2">Enviar Solicitud</span>
                                </button>
                            </div>
                        </div>
                    </div>
                <%} else {%>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text"><%= message %> </p>
                            <button onclick="cerrar_Sesion_Token_Invalido()">
                                <span class="ml-2"><<-- Volver al Inicio</span>
                            </button>
                        </div>
                    </div>
                <%}  %>
                </div>
            </div>
        </div>
    </div>
</main>