<main data-bs-theme="dark"> 
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
                <div class="col">
                <%if (message === 'ok') {%>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <button onclick="cargarContenidoGeneral('/principal?id_cliente=<%= datos.id_cliente %>&id_token=<%= id_token %>');">
                                <span class="ml-2"><<-- Volver</span>
                            </button>
                        </div>
                    </div>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text">IMPORTANTE:</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-lg md:text-xl font-bold">El mínimo de Retiro es de $ <%= datos.minimo_retiro %></span>
                            </div>
                            <%if (horas_ultimo_retiro < datos.minimo_espera_retiro) {%>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="font-bold">*************************************</p>
                                    <p class="mt-2 text-xs md:text-sm leading-5">El mínimo de espera de retiro son <%= datos.minimo_espera_retiro %> horas</p>
                                    <p class="mt-2 text-xs md:text-sm leading-5">Último retiro registrado hace <%= horas_ultimo_retiro %> horas.</p>
                                    <p class="mt-2 text-xs md:text-sm leading-5">Se podrá realizar el retiro al paso de <%= (datos.minimo_espera_retiro - horas_ultimo_retiro) %> horas.</p>
                                    <p class="font-bold">*************************************</p>
                                </div>
                            <%} else {%>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="mt-2 text-xs md:text-sm leading-5">Para realizar el retiro de fichas ingresar CBU, titular e importe:</p>
                                </div>
                            <%} %>
                        </div>
                    </div>
                    <%if (horas_ultimo_retiro >= datos.minimo_espera_retiro) {%>
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <label class="font-bold text-xs md:text-sm" for="cbu">CBU:</label>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <input id="cbu" type="text" placeholder="XXXXXXXXXXXXXXXXXXXXXX">
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <label class="font-bold text-xs md:text-sm" for="titular">TITULAR:</label>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <input id="titular" type="text" placeholder="Titular">
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <label class="font-bold text-xs md:text-sm" for="importe">IMPORTE:</label>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <input id="importe" type="text" placeholder="10000">
                                </div>
                            </div>
                        </div>
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span id="msgUsuario" class="ml-2"></span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button onclick="retirarFichas(<%=datos.id_cliente%>, '<%=id_token%>', <%=datos.minimo_retiro%>);">
                                        <span class="ml-2">Enviar Solicitud</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    <%} %>
                <%} else {%>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text"><%= message %> </p>
                            <button onclick="cerrar_Sesion_Token_Invalido()">
                                <span class="ml-2"><<-- Volver al Inicio</span>
                            </button>
                        </div>
                    </div>
                <%}  %>
                </div>
            </div>
        </div>
    </div>
</main>