<%if (message === 'ok') {%> 
    <nav class="py-2 bg-body-tertiary border-bottom" data-bs-theme="dark">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
                    </a>
                </div>
            </ul>
            <ul class="nav">
                <li class="nav-item">
                    <span class="ml-2"><%= datos.cliente_usuario %></span>
                </li>
                <li class="nav-item">
                    <button onclick="cerrar_Sesion(<%= datos.id_cliente %>, '<%= id_token %>');">
                        <span class="ml-2">Cerrar Sesion</span>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
    <header class="py-3 mb-4 border-bottom" data-bs-theme="dark">
	    <div class="container d-flex flex-wrap justify-content-center">
	  	<img src="../img/header.svg" alt="365_online">
	        <!--a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
	            <span class="fs-4">Jugar</span>
	        </a-->
            <button class="boton" type="submit">
                <a href="<%=datos.url_juegos%>">
                    <%= String(datos.url_juegos).replace('https://www.','') %>
                </a>
            </button>
	    </div>
	</header>
    <!--header class="py-3 mb-4 border-bottom" data-bs-theme="dark">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="<%= datos.url_juegos %>"
                class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-4">Jugar</span>
            </a>
        </div>
    </header-->
    <div id="contenido-dinamico"> 
        <main data-bs-theme="dark">
            <!--section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">Album example</h1>
                        <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                        <p>
                            <a href="#" class="btn btn-primary my-2">Main call to action</a>
                            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                        </p>
                    </div>
                </div>
            </section-->
            <div class="album py-5 bg-body-tertiary">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col">
                            <div type="button" class="card shadow-sm" 
                                onclick="cargarContenido('/menu?id_cliente=<%= datos.id_cliente %>&id_token=<%= id_token %>&menu=cargar_fichas');">
                                <!--svg class="bd-placeholder-img card-img-top" width="50%" height="112" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">icono o img</text></svg-->
                                <div class="card-body">
                                    <p class="card-text">Cargar fichas</p>
                                    <div class="d-flex justify-content-between align-items-center"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div type="button" class="card shadow-sm"
                            onclick="cargarContenido('/menu?id_cliente=<%= datos.id_cliente %>&id_token=<%= id_token %>&menu=retirar_fichas');">
                                <!--svg class="bd-placeholder-img card-img-top" width="50%" height="112" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">icono o img</text></svg-->
                                <div class="card-body">
                                    <p class="card-text">Retirar Fichas</p>
                                    <div class="d-flex justify-content-between align-items-center"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div  type="button" class="card shadow-sm"
                                onclick="cargarContenido('/menu?id_cliente=<%= datos.id_cliente %>&id_token=<%= id_token %>&menu=panel');">
                                <!--svg class="bd-placeholder-img card-img-top" width="50%" height="112" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">icono o img</text></svg-->
                                <div class="card-body">
                                    <p class="card-text">Solicitudes</p>
                                    <div class="d-flex justify-content-between align-items-center"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div  type="button" class="card shadow-sm"
                                onclick="cargarContenido('/menu?id_cliente=<%= datos.id_cliente %>&id_token=<%= id_token %>&menu=chat');">
                                <!--svg class="bd-placeholder-img card-img-top" width="50%" height="112" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">icono o img</text></svg-->
                                <div class="card-body">
                                    <p class="card-text">Chatear con el Agente</p>
                                    <div class="d-flex justify-content-between align-items-center"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div  type="button" class="card shadow-sm"
                                onclick="cargarContenido('/menu?id_cliente=<%= datos.id_cliente %>&id_token=<%= id_token %>&menu=cambiar_contraseña');">
                                <!--svg class="bd-placeholder-img card-img-top" width="50%" height="112" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">icono o img</text></svg-->
                                <div class="card-body">
                                    <p class="card-text">Cambiar contraseña</p>
                                    <div class="d-flex justify-content-between align-items-center"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div  type="button" class="card shadow-sm"
                                onclick="cargarContenido('/menu?id_cliente=<%= datos.id_cliente %>&id_token=<%= id_token %>&menu=desbloquear_usuario');">
                                <!--svg class="bd-placeholder-img card-img-top" width="50%" height="112" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">icono o img</text></svg-->
                                <div class="card-body">
                                    <p class="card-text">Desbloquear Usuario</p>
                                    <div class="d-flex justify-content-between align-items-center"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div  type="button" class="card shadow-sm">
                                <!--svg class="bd-placeholder-img card-img-top" width="50%" height="112" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">icono o img</text></svg-->
                                <div class="card-body">
                                    <p class="card-text">Copiar Link Referidos</p>
                                    <div class="d-flex justify-content-between align-items-center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div> 
<%} else {%>
    <nav class="py-2 bg-body-tertiary border-bottom" data-bs-theme="dark">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
                    </a>
                </div>
            </ul>
            <ul class="nav">
                <li class="nav-item">
                    <a onclick="cerrar_Sesion_Token_Invalido();" 
                        class="nav-link link-body-emphasis px-2"><%= message %></a>
                </li>
                <!--li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Sign up</a></li-->
            </ul>
        </div>
    </nav>    
<%} %>